[Unit]
After=network.service

[Service]
User=cooper
ExecStart=/bin/bash -c 'cd /home/cooper/olympus/ && source venv/bin/activate && python3.10 services_manager.py scraper'

[Install]
WantedBy=multi-user.target